{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="{% static 'portfollio/favicon.ico' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'portfollio/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'portfollio/favicon-16x16.png' %}">
<link rel="apple-touch-icon" href="{% static 'portfollio/apple-touch-icon.png' %}">
<link rel="manifest" href="{% static 'portfollio/site.webmanifest' %}">
  <style>
  .element-class {
  padding-left: 20px;
  padding-right: 20px;
}
</style>
  <meta charset="utf-8">
  <title>Vikas Krishna's Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">

    <a class="navbar-brand text-light fw-bold" href="/">
      Vikas Krishna
    </a>

    <div class="ms-auto d-flex gap-3">

      <a class="nav-link text-light" href="/">Home</a>

     <a class="btn btn-outline-info btn-sm" 
href="{% static 'portfollio/Vikas Krishna- resume (3).pdf' %}">
Resume
</a>

      <a class="btn btn-primary btn-sm"
         href="https://github.com/Vikas-Krishna1"
         target="_blank">
         GitHub
      </a>

      <a class="btn btn-outline-light btn-sm"
         href="https://www.linkedin.com/in/vikas-krishna-9b5b862a5/"
         target="_blank">
         LinkedIn
      </a>

    </div>

  </div>
</nav>

<div class="container pt-5 mt-4">
  {% block content %}{% endblock %}
</div>
</body>
</html>
