{% extends 'portfollios/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <h2>
            There are {{blog_count}} blog{{blog_count | pluralize}}
            <br><br>
            {% for blog in blogs %}
                <a href="{% url 'blog:detail' blog.id %}" <h2>{{blog.title}}</h2></a>
                <br><br>
                <p>{{blog.pub_date | date:'M d, Y' }}</p>
                <br><br>
                <p>{{blog.body|truncatewords:100}}</p>
            {% endfor %}
        </h2>
    </head>
</html>
{% endblock %}